# JEUS logs
/jeus/logs/

# JEUS temp files
/jeus/temp/

# JEUS work directory
/jeus/work/

/docs/app/*
# 기타 불필요한 파일
*.log
*.tmp
jeus8001_unix_generic_ko.bin


docs/app/process-service.war
lib/systemapps/webadmin.war
docs/app/definition-service.war